@media screen and (max-width: 1320px) {
    .class11th{
        height: 460px;
    }
    .imgcards{
        height: 400px;
    }
    .heroimage{
        margin: 20px;
        height: 400px;
    }
    .herotext{
        padding-left: 30px;
    }
}
@media screen and (max-width: 900px) {
    .hero1{
        flex-direction: column-reverse;
    }
    .heroimage{
        margin: 20px;
    }
    .herotext{
        padding-left: 20px;
    }
}
@media screen and (max-width: 749px) {

    .head {
        height: 60px;
        font-size: 40px;
    }

    .hero1 {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .heroimage {
        height: 300px;
        margin: 0 20px 0 20px;
        padding: 20px 0 0 0;
    }

    .herohead {
        font-size: 30px;
    }

    .herodes {
        font-size: 20px;
    }

    .hero1 {
        display: flex;
        justify-content: center;
        margin: auto;
    }

    .herotext {
        margin: 0;
        display: flex;
        justify-content: center;
        margin: auto;
        padding-left: 20px;
    }

    .off {
        display: flex;
        margin-top: 0px;
    }

    .imgcards {
        height: 200px;
    }

    .class11th {
        height: 260px;
        width: 300px;
        margin: 0 10px 30px 10px;
    }

    .values1,
    .values2,
    .values3 {
        margin: 20px;
        flex-direction: column;
        align-items: center;
    }

    .imagee {
        height: 200px;
    }

    .headhero3 {
        padding: 0 0 0 20px;
        font-size: 20px;
    }

    .headfeatures {
        font-size: 30px;
    }

    .featuresmobile {
        flex-direction: column-reverse;
        padding: 20px 0 20px 0;
    }

    .fcontent {
        width: 85%;
        margin: 30px 0 0 0;
        padding: 0;
    }

    .ftext {
        padding: 0 10px 0 10px;
        font-size: 15px;
        text-align: center;
    }

    .flexmobile {
        flex-direction: column;
    }

    /*footer section */
    .footer-container {
        flex-wrap: wrap;
    }

    .footer-section {
        padding: 10px;
    }


    /* Contact form*/

    .contact-left-title h2 {
        font-size: 4rem;
    }

    .contact-left-title h1 {
        font-size: 2rem;
        font-weight: 600;
        align-items: center;
        margin-top: 20px;
    }

    .contact-inputs {
        width: 250px;
        margin-top: 0;
    }

    .headtext {
        display: none;
    }

    .contact {
        margin-top: 100px;
    }

}
@media screen and (max-width: 300px) {
    .class11th{
        height: 180px;
    }
    .imgcards{
        height: 140px;
    }
    .imagee{
        height: 150px;
    }
}

